/update_admin_collector.egg-info/
/.coverage
/coverage.xml
/build
*.log
.idea*
*.pyc
.html
__pycache__
venv
*.DS_Store
.cache
.*.sw?
.venv
*.egg-info
.vscode
.direnv
.pytest_cache
.envrc
.direnv
.direnv/*
.envrc
node_torrent/node_modules
node_torrent/node_modules/*
.node_torrent/node_modules
.node_torrent/node_modules/*
node_modules
.node_modules/
.node_modules/*
